{% extends "base.html" %}

{% block title %}
Add Department
{% endblock %}

{% block content %}

<h2>Add Department</h2>

<form method="POST">

<div class="mb-3">

<label>Department Code</label>

<input
name="code"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Department Name</label>

<input
name="name"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Description</label>

<textarea
name="description"
class="form-control"></textarea>

</div>

<button class="btn btn-success">

Save Department

</button>

</form>

{% endblock %}